* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
  padding: 0;
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 15px;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y:scroll;}

header {
  padding-bottom: 50%;
}

  @keyframes moveinright {
    0% {
      opacity: 0;
      transform: translatex(100px);}
    80% {
      transform: translate(-10px);}
    100% {
      opacity: 1;
      transform: translate(0px);}
    }

    @keyframes moveinleft {
      0% {
        opacity: 0;
        transform: translatex(-100px);}
      80% {
        transform: translate(10px);}
      100% {
        opacity: 1;
        transform: translate(0px);}
      }

.anim {
  animation: moveinright;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

nav {
  position: fixed;
  background-color: #a8a8a8;
  width: 100%;
  z-index: 9999;
}

.logo {
  animation: moveinleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  height: 100px;
  width: auto;
  float: left;
  margin-left: 20px}

.nav-options {
  float: right;
  list-style: none;
  padding-right: 1%;
  margin-top: 3%;
  margin-left: 50%;}

.nav-options li {
  display: inline-block;
  margin-left: 30px;}

.nav-options li a:link, .nav-options li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  }

.nav-options li a:hover, .nav-options li a:active {
  border-bottom: 2px solid #e67e22;
  }

/* .hero {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  position: relative;} */

/* .hero-text {
  color: white;
  margin-bottom: 10px;
  position: absolute;
  font-weight: 200;
  font-size: 35px;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);} */

  #myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position:absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.cars-inventory {
  background-color: #a8a8a8;
  padding-top: 45px;}

.cars-inventory h2 {
  text-align: center;
  margin-top: 2%;
  font-size: 4rem;
  font-weight: 200;
  display: inline-block;
  letter-spacing: 1px;
  border-bottom: 2px solid #e67e22;}

  .btn, .btn:link, .btn:visited {
    margin-left: 27%;
    margin-bottom: 2%;
  }

.btn, .btn:link, .btn:visited, .search-btn {
  background-color: #ffa500;
  color: white;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  border: none;
}

    .search-btn {
      margin-left: 1px;
    }

    .btn:hover, .btn:link:hover, .btn:visited:hover,
    .search-btn:hover, .search-btn:link:hover, .search-btn:visited:hover{
      transform: translatey(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);}

.car {
  display: inline-block;
  perspective: 150rem;
  position: relative;
  height:20rem;
  margin-left: 5rem;
  width:25%;
  margin-top: 2rem;}

.display {
  height: 20rem;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  backface-visibility: hidden;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);}

.display-back {
  background-image: url(img/icon.png);
  background-color: #fff;
  transform: rotatey(180deg);}

.car-picture {
  background-size: cover;
  height: 10rem;
  background-blend-mode: screen;}

.car h4 {
  background-color: rgba(255,165,0, 0.5);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  position: absolute;
  top: 7.8rem;
  right: 2rem;
  width: 75%;}

.car-details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;}

.car-details ul li {
  text-align: left;
  font-size: 1rem;
  padding: .5rem;}

.car-details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);}

.car-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);}

.car-price-box {
  text-align: center;
  margin-bottom: -10rem;
  color: white;}

.car-price-only {
  font-size: 1.5rem;
  text-transform: uppercase;}

.car-price-values {
  font-size: 2rem;
  font-weight: 200;}

.car:hover .display-front{
  transform: rotatey(-180deg);}

  .car:hover .display-back {
    transform: rotatey(0deg);}

.car-picture-1 {
  background-image: url('img/cars/gli/gli_1.jpg');}

.car-picture-2 {
  background-image: url('img/cars/civic/civic_1.jpg');}

.car-picture-3 {
  background-image: url('img/cars/city/city_1.jpg');}

.car-picture-4 {
  background-image: url('img/cars/grandy/grandy_1.jpg');}

.car-picture-5 {
  background-image: url('img/cars/bmw/x7_1.jpg');}

.car-picture-6 {
  background-image: url('img/cars/accord/accord_1.jpg');}

.car-picture-7 {
  background-image: url('img/cars/fortuner/fortuner_1.jpg');}

.car-picture-8 {
  background-image: url('img/cars/civic2015/civic_2015_1.jpg');}

.car-picture-9 {
  background-image: url('img/cars/suzuki/ciaz_1.jpg');}

.car-picture-10 {
  background-image: url('img/cars/xli/xli_1.jpg');}


.search {
  position: absolute;
  margin-top: 25%;
  margin-left: 20%;}

.search-feild {
  width: 50rem;
  padding: 1rem 0;
  border: 1px solid #A9A9A9;}

.search-feild::placeholder {
  font-size: .8rem;
  color: rgba(0,0,0,0.4);}

footer {
  background-color: #333;
  padding: 50px;
  text-align: center;
  font-weight: 200;
  color: white;
  font-size: 1.2rem;}

.overall_display {
  opacity: 0;
  visibility: hidden;
  display: none;}
