body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('img/background.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

* {
  box-sizing: border-box;
}


.row {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  padding: 0 8px;
  width: 25%;
  float:left;
}

.big {
  padding-top: 8%;
text-align: center;
padding-bottom: 25px;
}

img {
  margin-bottom: -4px;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translatex(100px);}
  80% {
    transform: translate(-10px);}
  100% {
    opacity: 1;
    transform: translate(0px);}
  }

@-webkit-keyframes moveinleft {
    0% {
      opacity: 0;
      transform: translatex(-100px);}
    80% {
      transform: translate(10px);}
    100% {
      opacity: 1;
      transform: translate(0px);}
    }

    .anim {
      animation: moveinright;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    .logo {
      animation: moveinleft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      height: 100px;
      width: auto;
      float: left;
      margin-left: 20px
      }

.nav-section {
  background-color: grey;
}


nav h1 {
  font-size: 30px;
  display: inline-block;
  padding-left: 25%;
}
nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  z-index: 1;
}

.logo {
  animation: moveinleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  height: 100px;
  width: auto;
  float: left;
  margin-left: 20px}

.nav-options {
  float: right;
  list-style: none;
  padding-right: 1%;
  margin-top: 3%;
  margin-left: 50%;}

.nav-options li {
  display: inline-block;
  margin-left: 30px;}

.nav-options li a:link, .nav-options li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  }

.nav-options li a:hover, .nav-options li a:active {
  border-bottom: 2px solid #e67e22;
  }


  .info {
    background-color: grey;
    padding-left: 25px;
  }

  .info p {
    text-align: justify;
    margin: 5%;
    font-size: 1.3rem;
  }


    .btn, .btn:link, .btn:visited {
      margin-left: 27%;
      margin-bottom: 2%;
      background-color: #ffa500;
      color: white;
      text-transform: capitalize;
      text-align: center;
      text-decoration: none;
      padding: 15px;
      display: inline-block;
      border-radius: 100px;
      transition: all .2s;
      position: relative;
      border: none;
      cursor: pointer;}

      .btn:hover, .btn:link:hover, .btn:visited:hover {
        transform: translatey(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);}

        .pop-up {
            z-index: 9999;
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
            opacity: 0;
            visibility: hidden;
            transition: all .5s;}

           .pop-up:target {
            opacity: 1;
            visibility: visible;}

            .pop-up:target .pop-up-content {
              opacity: 1;
              transform: translate(-50%, -50%) scale(1);}


          .pop-up-content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
            display: table;
            transform: translate(-50%, -50%) scale(0.5);
            transition: all .5s .5s;}

          .pop-up h2 {
            text-align: center;
            font-size: 50px;
            font-weight: 100;
            border-bottom: 2px solid #e67e22;}

          .pop-up-text h3 {
            margin-left: 5%;
            font-size: 20px;
            font-weight: 400;
            display: inline;
            }

          .pop-up-text form {
            margin-left: 20%;
            margin-bottom: 2%;
            margin-top: -4%;
          }

          .pop-up-textbox, .pop-up-message{
            margin-bottom: 3%;
            border: none;
            border-radius: 5px;
            width: 50%;
            height: 5vh;
          }

          .pop-up-message{
            margin-bottom: 5%;
            height: 15vh;
          }

        .pop-up-radio {
          display: inline;
          margin-bottom: 3%;
        }

        .star {
          color: red;
          font-size: 70%;
          position: relative;
          bottom: 1ex;
        }

        footer {
          background: rgba(0, 0, 0, 0.5);
          color: #f1f1f1;
          text-align: center;
          padding: 2%;
          font-weight: 300;
          color: white;
          font-size: 1.2rem;}
